body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: auto;
  background-color: transparent;
  
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}